* {
    font-family: 'inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
}

body {
    background-color: #002448;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height : 100vh;
    width : 100%;
}
.circle1 {
    background-color: #00B7FF;
    height: 740px;
    width: 740px;
    border-radius: 1000px;
    filter: blur(350px);
    position: fixed;
    left: -180px;
    bottom: -470px;
    z-index: -1;
    opacity: 68%;
}

.circle2 {
    background-color: #7FC3FF;
    height: 740px;
    width: 740px;
    border-radius: 1000px;
    filter: blur(350px);
    position: fixed;
    right: -180px;
    top: -250px;
    z-index: -1;
    opacity: 48%;
}
.everything {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color : white;
    background-color: #002448;
    padding : 100px 60px;
    border-radius: 80px;
}
.header {
    font-size : 540%;
    font-weight: 500;
    letter-spacing: -5px;
}
.sub-header {
    font-size : 170%;
    margin-top: 4px;
    font-weight: 400;
    margin-bottom: 70px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    padding : 7px 14px;
    margin : 2px;
    border-radius : 100px;
    border : none;
    outline : none;
    font-size : 120%;
}
.home{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-weight: 500;
    letter-spacing: -2px;
    transition : all 0.5s;
    font-size : 20px;
}
.home:hover{
    transform: scale(110%);
    cursor: pointer;
    color : #479de3;
    text-shadow: 0px 0px 10px #136db6;
}
#reset{
    background-color: #008cff;
    color : white;

    transition : all 0.5s;
}
#reset:hover{
    background-color: #0f93ff;
    transform: scale(107%);
    cursor: pointer;
    font-size : 120%;


    box-shadow: 0px 0px 10px #136db68c;
}
a {
    margin-top : 30px;
    border : solid 3px orange;
    height: fit-content;
}